/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
.navigation {
  background-color: #D8D8D8;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}
.navigation a {
  padding-left: 6rem;
  font-weight: bold;
  color: white;
  font-size: 2.8rem;
  text-decoration: none;
}
.navigation a:hover {
  color: #222222;
}
.navigation .open {
  padding-right: 12rem;
  display: block;
}
.menu {
  display: none;
  /* Hidden by default */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #D8D8D8;
  height: 100%;
  opacity: 0.97;
  position: fixed;
}
.menu a {
  text-decoration: none;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 8.5rem;
  color: #FFFFFF;
  border: 100%;
}
.menu a:hover {
  color: #222222;
}
.menu--open {
  /* displays menu when active */
  display: flex;
  width: 100%;
  z-index: 1;
  /* Specify a stack order in case you're using a different order for other elements */
}
.main {
  position: relative;
  color: white;
  width: 100%;
  padding-top: 1rem;
}
.main img {
  width: 100%;
}
.main p {
  position: absolute;
  bottom: 81px;
  left: 6.9rem;
  color: white;
  font-size: 10rem;
  font-weight: bold;
  line-height: 1.18;
}
.smith {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  align-items: center;
}
.smith img {
  width: 100%;
}
.smith .smith-text {
  text-align: justify;
  padding-right: 4.2rem;
}
.smith .smith-text button {
  background: white;
  border-color: black;
  padding: 1rem;
  width: 16rem;
  border-width: thin;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 12px;
}
.smith .smith-text h3 {
  font-weight: bold;
  font-size: 3.6rem;
}
.smith .smith-text p {
  margin: 0 0 1rem;
  width: 55rem;
  font-size: 1.8rem;
}
.futuristic {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  align-items: center;
  flex-direction: row-reverse;
}
.futuristic img {
  width: 100%;
}
.futuristic .futuristic-text {
  text-align: justify;
  padding-left: 4rem;
}
.futuristic .futuristic-text button {
  background: white;
  border-color: black;
  padding: 1rem;
  width: 16rem;
  border-width: thin;
  font-size: 1.8rem;
  /* padding-top: 3rem; */
  text-align: center;
  margin-top: 12px;
}
.futuristic .futuristic-text h3 {
  font-weight: bold;
  font-size: 3.6rem;
}
.futuristic .futuristic-text p {
  margin: 0 0 1rem;
  width: 55rem;
  font-size: 1.8rem;
}
.recent {
  display: flex;
  padding-left: 6rem;
  padding-top: 9rem;
}
.recent h3 {
  font-weight: bold;
  font-size: 3.6rem;
}
