.main{
  position: relative;
  color: white;
  width: 100%;
  padding-top: 5rem;
  img{
    width: 100%;
  }
  p{
    position: absolute;
    bottom: 81px;
    left: 6.9rem;
    color: white;
    font-size: 10rem;
    font-weight: bold;
    line-height: 1.18;
  }
}

.smith{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    align-items: center;
    img{
      width: 100%;
    }
    .smith-text{
    text-align: justify;
    padding-right: 4.2rem;
    button{
      background: white;
    border-color: black;
    padding: 1rem;
    width: 16rem;
    border-width: thin;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 12px;
    }
      h3{
        font-weight: bold;
        font-size: 3.6rem;
      }
      p{
        margin: 0 0 1.0rem;
        width: 55rem;
        font-size: 1.9rem;
        letter-spacing: 0px;
      }
    }
}

.futuristic{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  align-items: center;
  flex-direction: row-reverse;
  img{
    width: 100%;
  }
  .futuristic-text{
  text-align: justify;
  padding-left: 4rem;
   button{
    background: white;
    border-color: black;
    padding: 1rem;
    width: 16rem;
    border-width: thin;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 12px;
   }
    h3{
      font-weight: bold;
      font-size: 3.6rem;
    }
    p{
      margin: 0 0 1.0rem;
      width: 55rem;
      font-size: 1.9rem;
      letter-spacing: 0px;
     
    }
  }
}


.recent{
  padding-left: 6rem;
  padding-top: 9rem;
  width: 100%;
  h3{
    font-weight: bold;
    font-size: 3.6rem;
  }
  .villas{
    width: 100%;
    padding-top:6rem;
    .z{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img{
      width: 100%;
      }
      button{
        height: 10rem;
        position: absolute;
        /* right: 14.5rem; */
        /* background-color: #D8D8D8; */
        width: 39rem;
        padding: 3.5rem;
        border-color: white;
        border-width: medium;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.4rem;
        margin-top: 2.4rem;
      }
    }
  }
  .mid-text{
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
    width: 45%;
    font-size: 2rem;
    }
  }
  .outskirts{
    width: 100%;
    padding-top:6rem;
    .z{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    img{
      width: 100%;
      }
      button{
        height: 10rem;
        position: absolute;
        /* right: 14.5rem; */
        /* background-color: #D8D8D8; */
        width: 39rem;
        padding: 3.5rem;
        border-color: white;
        border-width: medium;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.4rem;
        margin-top: 2.4rem;
      }
    }
  }
}


