.service-text{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    @media @mobile {
        margin-left: 2rem;
    }  
    p{
        font-size: 2rem;
        line-height: 1.5;
    }
}


.service-container{
  @media @mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 1rem 4.3rem;
}   

.nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    @media @mobile{
      flex-direction: column;
    }
}
   
   ul {
     list-style: none;
     padding: 0;
     
     li {
       display: inline-flex;
       position: relative;
       display: flex;
       margin: 3.5rem;
       font-size: 1.7rem;
       @media @mobile{
        margin: 1.5rem;
       }
       
       a {
         text-decoration: none;
         color: black;
         font-weight: bold;
         padding: 10px;
         position: relative;
         border-style: solid;
         border-width: thin;
         background: white;

         &:hover {
           color: gray;
         }
       }
     }
   }
   
   .nav .active a { 
    color: white;
    border: 1px black solid;
    background: #5E9FB9;
     &:hover {
       border-color: transparent;
       background: #222222;
       color: #FFF;
     }
   }
   
   .tab-pane { 
     display: none;
   }
   
   .tab-pane.active { 
     display: block; 
     padding-top: 4rem;
   }
   ul li a{
   position: relative;
   display: flex;
   padding: 1rem 4.3rem;
   height: 5rem;
   /* text-align: center; */
   align-items: center;
   font-size: 2rem;
}

   
    .text{
        margin-left: 4rem;
        display: flex;
        margin-bottom: 9rem;
        margin-top: 2rem;
        @media @mobile {
          flex-direction: column;
          align-items: center;
        } 
        img{
        width: 100%;
        margin-right: 4rem;
        @media @mobile{
          margin-top: 3rem;
        }
    }
        h4{
            font-size: x-large;
            font-weight: 600;  
            @media @mobile{
            margin-left: 5rem;
            }
        }
        p{
            font-size: 1.5rem;
            padding-top: 4rem;
            width: 64%;
            line-height: 1.5;
            @media @mobile{
              width: 70%;
              margin-left: 3rem;
            }
        }
    }